@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */

  /* font-family: Arial, Helvetica, sans-serif; */
}

@layer components {
  .appBg {
    background: radial-gradient(
        52.52% 32.71% at 50% 97.66%,
        rgba(36, 160, 181, 0.2) 0%,
        rgba(36, 160, 181, 0) 100%
      ),
      #02191d;
  }
  .techBg {
    background: radial-gradient(
        57.42% 106.59% at 14.02% 32.06%,
        rgba(36, 160, 181, 0.2) 0%,
        rgba(36, 160, 181, 0) 100%
      ),
      rgba(10, 12, 17, 0.1);
  }
}
